{% extends "simple-layout.html" %}
{% block title %}Recorded statistics for {{ plugin }} - plugin-statistics{% endblock %}
{% block body %}
    <div class="container">
        {% filter markdown %}
            ### {{ plugin }} statistics

            This is a makeshift interface to view statistics data. While a
            more aesthetically pleasing interface may be built in the future,
            this is the extent of what is available now.

            The statistics here are stored not as what each individual server
            sends, but rather as an aggregate of all servers who have checked
            in the last two hours every hour.

            "Records" are built every hour, and directly before each record is built, live data longer than 2 hours expires and is deleted.

            {% if next_page_available or prev_page_available %}
                Page {{ page }}. {% if prev_page_available %} [Visit previous page.]({{ "?page={}".format(page - 1) }})
            {% endif %} {% if next_page_available %} [Visit next page.]({{ "?page={}".format(page + 1) }}) {% endif %}
            {% endif %}

            {% for record in records %}
                ==============================

                {{ record["date"] }}

                {{ record["total_servers"] }} {% if record["total_servers"] == 1 %}server{% else %}servers{% endif %},
                with
                {{ record["total_players"] }} online
                {% if record["total_players"] == 1 %}player{% else %}players{% endif %}.

                {% for version in record["plugin_versions"] %}
                    ------------------------------

                    {{ version["version"] }}: {{ version["server_count"] }}
                    {% if version["server_count"] == 1 %}server{% else %}servers{% endif %}

                    Server Version Statistics:
                    {% for server_version, server_count in version["server_version_counts"].items() %}

                        {{ server_version }}: {{ server_count }}
                        {% if server_count == 1 %}server{% else %}servers{% endif %}
                    {% endfor %}
                {% endfor %}
                ------------------------------
            {% endfor %}
        {% endfilter %}
    </div>
{% endblock %}
