{% extends "simple-layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block links %}
    <link href="{{ asset_url('markdown-css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-1 col-xs-12 col-xs-offset-0">
                <div class="list-group">
                    <div class="list-group-item">
                        {{ content|safe }}
                    </div>
                    {% if sidebar %}
                        <div class="list-group-item visible-xs visible-sm">
                            {{ sidebar|safe }}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if sidebar %}
                <div id="sidebar" class="col-md-3 col-md-offset-8 visible-md visible-lg">
                    <div class="list-group">
                        <div class="list-group-item">
                            {{ sidebar|safe }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
