<!DOCTYPE html>
{% filter minify %}
    <html>
        <head>
            <title>{% block title %}{% endblock %}</title>
            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap core CSS -->
            <link href="{{ url_for('static', filename="css/bootstrap.css") }}" rel="stylesheet">
            <!-- Custom styles for this page -->
            <link href="{{ url_for('static', filename="css/google-fonts-arbutus.css") }}" rel="stylesheet">
            <link href="{{ url_for('static', filename="css/shared-sidebar.css") }}" rel="stylesheet">
            {% block links %}{% endblock %}
        </head>
        <body>
            <div id="wrapper">
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="{{ url_for("index") }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ url_for("resources") }}">Resources</a>
                        </li>
                        <li>
                            <a href="{{ url_for("contact") }}">Contact</a>
                        </li>
                    </ul>
                </div>

                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
            <script src="{{ url_for('static', filename="/js/analytics.js") }}"></script>
            {% block scripts %}{% endblock %}
        </body>
    </html>
{% endfilter %}
