<!DOCTYPE html>
{% filter minify %}
    <html>
        <head>
            <title>{% block title %}{% endblock %}</title>
            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap core CSS -->
            <link href="{{ url_for('static', filename="css/bootstrap.css") }}" rel="stylesheet">
            <!-- Custom styles for this page -->
            <link href="{{ url_for('static', filename="css/shared-sidebar.css") }}" rel="stylesheet">
            {% block links %}{% endblock %}
        </head>
        <body>
            <div id="wrapper">
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                                Start Bootstrap
                            </a>
                        </li>
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <a href="#">Shortcuts</a>
                        </li>
                        <li>
                            <a href="#">Overview</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    {% block body %}{% endblock %}
                </div>
                <!-- /#page-content-wrapper -->
            </div>
            <!-- /#wrapper -->
            <script src="{{ url_for('static', filename="/js/analytics.js") }}"></script>
        </body>
    </html>
{% endfilter %}
