@import url('https://fonts.googleapis.com/css?family=Arbutus');

#wrapper {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
}

#mobile-nav {
    min-width: auto;
    width: 100%;
    text-align: center;
    font-size: large;
}

#mobile-nav > ul {
    padding-left: 0;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.mobile-nav li {
    text-indent: 20px;
    line-height: 40px;
    list-style: none;
    display: block;
}

.navigation > * {
    font-family: 'Arbutus', serif;
}

.nav-item a {
    display: block;
    text-decoration: none;
    color: #333333;
}

.nav-item a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #000000;
}

.nav-item:active,
.nav-item:focus {
    text-decoration: none;
}

.sidebar-brand {
    font-size: 20px;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 200px;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #mobile-nav {
        display: none;
    }
}
