@import url(http://fonts.googleapis.com/css?family=Arbutus);
#wrapper {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    font-family: Arbutus, serif;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333333;
}

.sidebar-nav li > a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #000000;
}

.sidebar-nav li:active,
.sidebar-nav li:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #333333;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #ffffff;
    background: #000000;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 200px;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #page-content-wrapper {
        padding: 20px;
    }
}
