<!DOCTYPE html>
<html>
    <head>
        <title>500 Internal Server Error</title>
        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this page -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                    <h1>Internal Server Error</h1>

                    <p>The server encountered an internal error and was unable to complete your request. Either the
                        server is overloaded or there is an error in the application.</p>
                </div>
            </div>
        </div>
    </body>
</html>
