<!DOCTYPE html>
{% filter minify %}
    <html>
        <head>
            <title>2548</title>
            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
            <style>
                .main {
                    font-family: 'Inconsolata', monospace;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 15px;
                }
            </style>
        </head>
        <body>
            <table id="main" class="main" cellspacing="0px">
                {% for i in range(-1, 34) %}
                    <tr id="row-{{ i }}">
                        {% for j in range(-1, 34) %}
                            {% if j in (33, -1) %}
                                <td class="wall">+</td>
                            {% elif i in (33, -1) %}
                                <td class="wall">++</td>
                            {% else %}
                                <td id="{{ i }}-{{ j }}">&nbsp;&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <script src="{{ asset_url('2548-js') }}"></script>
        </body>
    </html>
{% endfilter %}