{% extends "sidebar-layout.html" %}
{% block title %}daboross/contact{% endblock %}
{% block body %}
    <h1 class="title">Contact</h1>

    <h3>Email</h3>
    <p>Email me at <a href="mailto:daboross@daboross.net">daboross@daboross.net</a>.</p>

    <h3>IRC</h3>
    <p>I'm on <a href="irc://chat.freenode.net/">freenode</a>, <a href="irc://irc.esper.net">esper.net</a>,
        and <a href="irc://irc.spi.gt">spi.gt</a> under the nick 'Dabo'.</p>

    <h3>Google+</h3>
    <p>You can find me on <a href="https://google.com/+daboross">Google+</a>.</p>
{% endblock %}
{% block scripts %}
    <!-- Javascript - Placed at the end of the document so the pages load faster -->
    <script src="{{ asset_url('shared-js') }}"></script>
    <script src="{{ asset_url('contact-js') }}"></script>
{% endblock %}
