{% extends "sidebar-layout.html" %}
{% block title %}daboross.net - David Ross{% endblock %}
{% block body %}
    {% filter markdown %}

        daboross
        ---

        This website is a placeholder, and may be replaced by actual content at a later date.

        I'm looking for a backend SWE internship for Summer 2020.  See my
        [LinkedIn](https://www.linkedin.com/in/dbross/), [GitHub](https://github.com/daboross/), and
        [Projects Page](/projects/).

        Email me at daboross at daboross.net.

    {% endfilter %}
{% endblock %}
