{% extends "sidebar-layout.html" %}
{% block title %}db/resources{% endblock %}
{% block body %}
    <h1 class="title">Projects</h1>
    {% filter markdown %}
        Here are some handpicked open source projects I've worked on in the
        past. For a full list of things I've built on, see
        https://github.com/daboross.

        ---

        ### qx.lc
        An open source pastebin and short-link server. Mostly a learning
         project for python web servers, but also continuously runs at
        http://qx.lc. Built in Python with the flask web framework.

        - May 2014 - October 2014
        - [GitHub](https://github.com/daboross/qxlc)

        ---

        ### fern
        Simple, efficient logging for the [`rust`](https://www.rust-lang.org/) language. Lets users configure logging through branches/sub-loggers, up to an infinite depth. Each level can perform formatting, or filter through message priority or other arbitrary criteria.

        - December 2014 - on-and-off - present
        - [GitHub](https://github.com/daboross/fern-rs)

        ---

        ### SkyWars
        A server-side Minecraft Minigame where players fight to the death on
        floating islands. It was built when I was much more part of the
        Minecraft community, and I've continued to partially maintain it
        since. It is my most used open source Bukkit plugin, with over
        400,000 downloads to date.

        - July 2013 - July 2016
        - [Documentation](https://dabo.guru/projects/skywars/)
        - [Statistics](https://dabo.guru/statistics/skywars/)
        - [GitHub](https://github.com/SkyWars/SkyWars)

        ---

        ### `mc-cli`
        `mc-cli` is a command line client for Minecraft. It uses an
        [open source library](https://github.com/Steveice10/MCProtocolLib)
        for connecting to Minecraft servers and
        [JLine](https://github.com/jline) for making a nice interface. It
        allows for 10+ fake clients to connect to the same running server,
        and is useful for testing plugin features which require many players
        to be online to function.

        - September 2013 - September 2014
        - [GitHub](https://github.com/daboross/minecraft-commandline-interface)

        ---

        ### daboross.net / dabo.guru
        The source code for this website, and all interactive functionality.

        - [Github](https://github.com/daboross/dabo.guru)
    {% endfilter %}
{% endblock %}
