{% extends "sidebar-layout.html" %}
{% block title %}Dabo - Projects{% endblock %}
{% block body %}
    <h1 class="title">Projects</h1>
    {% filter markdown %}
        This is an incomplete list of projects I'm working on.
        For a full list of open source projects I manage, visit https://github.com/daboross.

        ---

        ### dabo.guru / daboross.net
        This is the project source code for this website. I learned quite a bit about css and content presentation while
        creating this.

        - [Github](https://github.com/daboross/dabo.guru)

        ---

        ### qx.lc
        Qxlc is a pastebin server + link shortener + image server wrapped into one application. It's written in Python
        using the Flask web framework, and is basically my first for-function web app written in Flask. I also host the
        latest version of QXLC at http://qx.lc. Qxlc was created to allow having shortened links, pastes and images all
        under one short domain.

        - [Running Version](http://qx.lc)
        - [GitHub](https://github.com/daboross/qxlc)

        ---

        ### SkyWars
        SkyWars is a minigame designed for Bukkit where players fight to the death on flying islands. It has been one
        of my main projects in the Bukkit community, and is the most used open source SkyWars Bukkit plugin.

        - [Documentation](/projects/skywars/)
        - [GitHub](https://github.com/SkyWars/SkyWars)

        ---

        ### RemoveGodItems
        RemoveGodItems is a utility Bukkit plugin which will attempt to remove all overly-godlike (cheated) items from
        the game. I haven't updated it to the latest version of Minecraft however, so it won't work with custom
        attributes. It still works with Enchantments though!

        - [GitHub](https://github.com/daboross/RemoveGodItems)

        ---

        ### MavenKickstarter
        Maven kickstarter is a command line tool which will "kickstart" maven projects. It will create a shell project
        given a name, artifact id and group id. Author information is currently hardcoded, that does need to be edited
        before use.

        - [GitHub](https://github.com/daboross/maven-kickstart)

        ---

        ### MinecraftCommandlineInterface
        Minecraft command-line interface is a Java program which offers a simple command line interface for connecting
        to Minecraft servers. It connects using a client which just stands where it is teleported, the only real
        functionality is chat / command execution. You can connect with any number of usernames, in online and offline
        mode. The JLine interface will be familiar if you've ever run a CraftBukkit or BungeeCord server.

        - [GitHub](https://github.com/daboross/minecraft-commandline-interface)
    {% endfilter %}
{% endblock %}
